body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color:#F6F1EB;
  min-height: 100vh;
}
header{
  background-color:#F6F1EB;
}
.nav-link{
  font-size: medium;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    display: flex;
    align-items: center;
}
.search-bar{
  display: none;
}
section.hero h1{
  font-family: "Philosopher", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}
.hero p{
  font-size: 1.2rem;

}
.hero button{
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #18420e;
  color: white;
  border: none;
  cursor: pointer;
}
.hero button:hover{
  background-color: #124a31;
}
.feature{
  background: #124a31;
  border-radius: 8px;
  padding: 1rem;
  COLOR: WHITE;
}
.product-home{
  width: 18rem;
  background: antiquewhite;
  border-top-right-radius: 50%;
  border-top-left-radius: 22%;
  border: none;
  box-shadow: 0 0 140px #0000001a;
  text-decoration: none;
  height: 100%;
  justify-content: space-between;
}
.product-home img{
  padding: 1rem;
}
.product-home .card-body{
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.product-home .card-title{
  font-family: "Philosopher", sans-serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
}
section.categories{
  padding: 5rem 0;
}
section.categories h2{
  font-family: "Philosopher", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}
.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
.bg-greeny{
  top: 56%;
    position: absolute;
    right: 0%;
    background: #18420e !important;
}
.title{
  font-family: "Philosopher", sans-serif;
  font-weight: 900;
}
.btn-shop {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #18420e;
  color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;

}
.profile-list a{
  color: black;
  text-decoration: none;
}
.profile-list a:hover{
  color: #18420e;
  background-color: lightgray;
}
.profile-list .active {
  color: #fff;
  background-color: #18420e;
  border: none;
}
.profile-list .active:hover {
  color: #fff;
  background-color: #18420e;
  border: none;
}
.btn-login{
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #18420e;
  color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  text-transform: capitalize;
  border: 1px solid #124a31;
}
.btn-login:hover{
  background-color: #fff;
  color: #18420e; ;
  border: 1px solid #124a31;
}
.btn-register-go{
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  color: #18420e;
  width: 100% !important;
  border: none;
  cursor: pointer;
  width: fit-content;
  text-transform: capitalize;
  border: 1px solid #124a31;
  text-decoration: none;
  margin: .5rem 0 !important;
  display: block;
  text-align: center;
}
/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand > img{
  width: 45%;
}
.navbar .form-control {
  font-size: small;
}
